.description {
  margin: 8px 0 16px;
  color: #667085;
  font-size: 13px;
}

.tabs {
  margin-bottom: 16px;
}

.userGroupContainer {
  margin-bottom: 16px;
}

.groupContainer {
  margin-bottom: 16px;
}

.groupHeader {
  margin-top: 8px;
}